
.node {
    cursor: pointer;
  }
  
  .node circle {
    fill:white;
    stroke: blue;
    stroke-width: 1.5px;
  }
  
  .node text {
    font: 15px sans-serif;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .link {
      
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }